@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
  overflow-x: hidden;
  display: flex;
  font-family: 'Inconsolata', monospace;
  justify-content: center;
  background-color: #9898d3;
}

.App{
  background-color: #9898d3;
  width: 100%;
  height: 200%;
}

.home{
  background-color: #9898d3;
  height:90vh;
  
}